.card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 35%;

  margin: 0px 60px;

  border-radius: 40px;

  background-color: transparent;

  animation: fadeIn 2s;

  .cardBackground {
    position: absolute;
    top: 50px;
    width: 60%;
    height: 100%;

    border-radius: 75%;

    transform: rotate(75deg);

    transition: all 0.8s;
  }
  img {
    position: absolute;
    bottom: 50px;
    width: 70%;
    height: 70%;
    transition: all 1s;
  }
  .pokemonName{
    position: absolute;
    text-align: center;
    right: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  .cardButtons {
    display: none;

    .statusButton {
      display: none;
      opacity: 0;
      
    }
  }

}

.card:hover {
  .cardBackground {
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;

    border-radius: 60px;

    transform: rotate(0deg);

    transition: all 0.5s;
  }
  img {
    width: 80%;
    height: 80%;
    bottom: 70px;
    transition: all 1s;
  }
  .pokemonName{
    left: 0px;
    right: 0px;
    transition: all 1s;
  }

  .cardButtons {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;

    .statusButton {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 40px;
      color: white;
      border-radius: 5px;

      padding-left: 10px;
      padding-right: 10px;

      margin-bottom: 10px;
      margin-right: 20%;

      cursor: pointer;

      right: 56%;
      transition: all 0.5s;

      @for $i from 1 through 3 {
        &:nth-child(#{$i + 1}) {
          animation-delay: #{$i * 0.1}s;
        }
      }

      animation: fadeIn 4s;
      animation-fill-mode: forwards;
    }
  }

  .statusButton:hover {
    right: 79%;

    transition: all 0.5s;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
